@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
}

:root {
  --blue-light-custom: #2E89DC;
  --blue-dark-custom: #4361EE;
  --tomato-custom: #FB6F92;
  --button-text-white: #F2F2F2;
  --gradient-primary: linear-gradient(90.05deg, var(--blue-light-custom) -26.13%, var(--blue-dark-custom) 30.71%, var(--tomato-custom) 102.5%);
}

