@import "index.css";

.btn {
    background: var(--gradient-primary);
    border-radius: 30px;
    color: var(--button-text-white);
    border: none;
    width: 114px;
    height: 45px;
}


/* Footer */
.box-footer {
    width: 100%;
    min-height: 389px;
    background: var(--gradient-primary);
}
.footer-links {
	display: flex;	
    flex-direction: column;
	padding-top: 20px;
    
}
.footer-links > a{
    color: white;
    font-size: 14px; 
    margin-top: 5px;   
}

